body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

label, button {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
}

textarea {
    height: 150px;
    resize: none;
}
